/* COLORS */
$limeGreen: #cddc39;
$green: #4caf50;
$teal: #009688;
$blue: #2196f3;
$indigo: #3f51b5;
$purple: #9c27b0;
$magenta: #e91e63;
$red: #f44336;
$red-orange: #ff5722;
$orange: #ff9800;
$gold: #ffd600;
$yellow: #ffeb3b;

/* NEUTRALS */
$brown: #795548;