<ul id="slide-out" class="side-nav">
    <li><div class="user-view">
      <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!" class="waves-effect"><i class="material-icons">home</i>Home</a></li>
    <li><a href="#!" class="waves-effect"><i class="material-icons">login</i>Login</a></li>
    <li><a href="#!" class="waves-effect"><i class="material-icons">login</i>Create Pallet</a></li>
    <li><a href="#!" class="waves-effect"><i class="material-icons">login</i>Colors</a></li>
    <li><a href="#!" class="waves-effect"><i class="material-icons">login</i>Attributes</a></li>
    <li><a href="#!" class="waves-effect"><i class="material-icons">about</i>About</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

