
<div class="container-fluid footer">
	<div class="colorBar">
		<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 20">
			<defs>
			<style>
				.cls-1{fill:#cddc39;}
				.cls-2{fill:#4caf50;}
				.cls-3{fill:#009688;}
				.cls-4{fill:#2196f3;}
				.cls-5{fill:#3f51b5;}
				.cls-6{fill:#9c27b0;}
				.cls-7{fill:#e91e63;}
				.cls-8{fill:#f44336;}
				.cls-9{fill:#ff5722;}
				.cls-10{fill:#ff9800;}
				.cls-11{fill:#ffd600;}
				.cls-12{fill:#ffeb3b;}	
			</style>
			</defs>
			<title>color-bar</title>
			<rect class="cls-1" width="66.67" height="10"/>
			<rect class="cls-2" x="66.67" width="66.67" height="10"/>
			<rect class="cls-3" x="133.33" width="66.67" height="10"/>
			<rect class="cls-4" x="200" width="66.67" height="10"/>
			<rect class="cls-5" x="266.67" width="66.67" height="10"/>
			<rect class="cls-6" x="333.33" width="66.67" height="10"/>
			<rect class="cls-7" x="400" width="66.67" height="10"/>
			<rect class="cls-8" x="466.67" width="66.67" height="10"/>
			<rect class="cls-9" x="533.33" width="66.67" height="10"/>
			<rect class="cls-10" x="600" width="66.67" height="10"/>
			<rect class="cls-11" x="666.67" width="66.67" height="10"/>
			<rect class="cls-12" x="733.33" width="66.67" height="10"/>
		</svg>
	</div>
	<h4 class="footerText">Psychology of Color</h4>
	<ul>
		<li>
			<a routerLink="/login">login</a>
		</li>
		<li>
			<a routerLink="/create-by-attribute">create by attribute</a>
		</li>
		<li>
			<a routerLink="/create-by-color">create by color</a>
		</li>
		<li>
			<a routerLink="/about">about</a>
		</li>
	</ul>
</div>