<router-outlet></router-outlet>
<div class="body">
	<h2>Create A Pallette Based On Your Brand's Identity</h2>
	<p>We've compiled a thorough list of attributes for your branding identity that correspond to color values according to the Dewey Color System.</p>
	<p>For this first step, dismiss any of the attribute pairs that do not immediately strike you as relevant to your brand. We'll get to ranking and selecting one out of each pair in the next step.</p>
	<div *ngIf="dismissResults.length > 0"><!-- Don't render until we get user's chosen attributes from service-->
		<button (click)="displayDismissResults()">SHOW ME THE DATA</button>
	</div>

		<div *ngFor="let pair of dismissResults; let id = index">

			<div class="dismissable_button_group" id="which{{id}}">
				<button (click)="toggleDismiss(id)" class="x_button">
					<div class="x">X</div>
				</button>
				<div class="attr_pair">
					<button class="border_bottom">
						<h4>{{pair.descriptor1.attribute}}</h4>
						<h5>{{pair.descriptor1.description}}</h5>
					</button>
					<button>
					<h4>{{pair.descriptor2.attribute}}</h4>
					<h5>{{pair.descriptor2.description}}</h5>
					</button>
				</div>
			</div>

		</div><!-- Attribute Pairs -->
	
	<button (click)="getUserArray()" routerLink="/create-by-attribute-choose">Submit</button>

</div><!-- Body -->