@import '../../styles.scss';

.body {
	height: 500px;
	width: 75%;
	margin: 100px auto;
	.sectionTitle {
		text-transform: capitalize;
		color: $grey500;
		font-weight: 300;
		letter-spacing: .05em;
	}
	.pageTitle {
		text-align: center;
		text-transform: uppercase;
		color: $grey700;
		font-weight: 300;
		letter-spacing: .05em;
	}
	p {
		margin: 25px auto 0 auto;
		font-size: 1.2em;
		font-weight: 400;
		letter-spacing: .05em;
		text-align: left;
	}
	form {
		margin: 25px auto 0 auto;
	}
	.setPalette {
		text-align: center;
	}
	background {

	}
}

.colorBar {
	margin: 50px;
}
.getStarted {
	text-align: center;
}