<router-outlet></router-outlet>

<div class="body">

<!-- PAGE TITLE -->
<div class="flex-container">
	<h4 class="flex-item pageTitle">create by color</h4>
</div>

<!-- CARD 1 -->
<div class="flex-container card"> 

	<!-- SELECT COLOR -->
	<div class="flex-item card-title">
		<h1 class="sectionTitle">select color</h1>
		<p>Select two colors from the color wheel or the neutral palette to learn about their personality attributes.</p>
	</div>

	<!-- COLOR WHEEL SVG -->
	<div class="flex-item colorWheel">
		<svg class="animated rotateIn" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 304 304" style="enable-background:new 0 0 304 304;" xml:space="preserve">
			<style type="text/css">
				.orange		{fill:#FF9800;}
				.gold		{fill:#FFD600;}
				.yellow		{fill:#FFEB3B;}
				.limeGreen	{fill:#CDDC39;}
				.green		{fill:#4CAF50;}
				.teal		{fill:#009688;}
				.blue		{fill:#2196F3;}
				.indigo		{fill:#3F51B5;}
				.purple		{fill:#9C27B0;}
				.magenta	{fill:#E91E63;}
				.red		{fill:#F44336;}
				.redOrange	{fill:#FF5722;}
			</style>
			<a xlink:href="">
				<path class="orange" 
					d="M152.5,235.4c-7.6,0-14.9-1-21.8-2.9l-17.3,64.6c12.4,3.3,25.4,5.1,38.8,5.1s26.4-1.8,38.8-5.1l-17.3-64.4C166.9,234.4,159.8,235.4,152.5,235.4z"/>
			</a>
			<a xlink:href="#">
				<path class="gold" 
					d="M93.4,210.9l-47.3,47.3c18.3,18.3,41.4,31.9,67.2,38.8l17.3-64.6C116.4,228.6,103.6,221.1,93.4,210.9z"/>
			</a>
			<a xlink:href="#">
				<path class="yellow" 
					d="M71.9,173.7L7.3,191c6.9,25.8,20.5,48.9,38.8,67.2l47.3-47.3C83.3,200.7,75.8,188,71.9,173.7z"/>
			</a>
			<a xlink:href="#">
				<path class="limeGreen" 
					d="M69.1,152c0-7.4,1-14.5,2.8-21.4L7.3,113.3c-3.3,12.4-5.1,25.4-5.1,38.8S4,178.6,7.3,191l64.7-17.3
					C70.1,166.8,69.1,159.5,69.1,152z"/>
			</a>
			<a xlink:href="#">
				<path class="green" 
					d="M93.3,93.3L46.1,46.1C27.8,64.5,14.2,87.5,7.3,113.3l64.6,17.3C75.6,116.3,83.1,103.5,93.3,93.3z"/>
			</a>
			<a xlink:href="#">
				<path class="teal" 
					d="M130.6,71.5L113.3,7.3c-25.8,6.9-48.9,20.5-67.2,38.8l47.2,47.2C103.4,83,116.2,75.4,130.6,71.5z"/>
			</a>

			<a xlink:href="#">
				<path class="blue" 
					d="M152.5,68.6c7.4,0,14.5,1,21.4,2.8L191,7.3c-12.4-3.3-25.4-5.1-38.8-5.1S125.7,4,113.3,7.3l17.2,64.3
					C137.6,69.6,144.9,68.6,152.5,68.6z"/>
			</a>
			<a xlink:href="#">
				<path class="indigo" 
					d="M211.4,93l46.9-46.9C239.9,27.8,216.8,14.2,191,7.3l-17.2,64.1C188.2,75.2,201.1,82.8,211.4,93z"/>
			</a>
			<a xlink:href="#">
				<path class="purple" 
					d="M233,130.5l64-17.2c-6.9-25.8-20.5-48.9-38.8-67.2L211.4,93C221.6,103.2,229.2,116.1,233,130.5z"/>
			</a>
			<a xlink:href="#">
				<path class="magenta" 
					d="M297.1,113.3l-64,17.2c1.8,6.9,2.8,14.1,2.8,21.5c0,7.5-1,14.9-2.9,21.8l64.1,17.2c3.3-12.4,5.1-25.4,5.1-38.8
					S300.4,125.7,297.1,113.3z"/>
			</a>
			<a xlink:href="#">
				<path class="red" 
					d="M233,173.8c-3.9,14.4-11.5,27.2-21.8,37.4l47,47c18.3-18.3,31.9-41.4,38.8-67.2L233,173.8z"/>
			</a>
			<a xlink:href="#">
				<path class="redOrange" 
					d="M211.2,211.2c-10.2,10.2-23.1,17.7-37.5,21.5l17.3,64.4c25.8-6.9,48.9-20.5,67.2-38.8L211.2,211.2z"/>
			</a>
		</svg> <!-- end color wheel svg -->
	</div> <!-- end of color wheel div -->

	<!-- SELECT NEUTRAL COLOR -->
	<div class="flex-item card-title">
		<h1 class="sectionTitle">select neutral</h1>
	</div>

	<!-- NEUTRAL COLOR SWATCHES -->
	<div class="flex-item neutralColors">

		<!-- BLACK -->
		<svg width="32%" height="150">
			<a xlink:href="#">
				<rect width="100%" height="150" style="fill:#000;" />
			</a>
		</svg>

		<!-- WHITE -->
		<svg width="32%" height="150">
			<a xlink:href="#">
				<rect width="100%" height="150" style="fill:#fff;stroke-width:2;stroke:#e0e0e0" />
			</a>
		</svg>

		<!-- BROWN -->
		<svg width="32%" height="150">
			<a xlink:href="#">
				<rect width="100%" height="150" style="fill:#795548;" />
			</a>
		</svg>
	</div> <!-- end of neutral colors -->

	<!-- SET PALETTE -->
	<div class="flex-item setPalette">
		<button routerLink="/by-color-result" type="button" target="_top" class="btn btn-elegant waves-light hoverable">set palette</button>
	</div>

</div> <!-- end flex container card -->

</div> <!-- end of body class -->