
<!--Register form-->
<form>
    <p class="h5 text-center mb-4">Sign up</p>

    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="orangeForm-name" class="form-control">
        <label for="orangeForm-name">Your name</label>
    </div>
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="orangeForm-email" class="form-control">
        <label for="orangeForm-email">Your email</label>
    </div>

    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="orangeForm-pass" class="form-control">
        <label for="orangeForm-pass">Your password</label>
    </div>

    <div class="text-center">
        <button class="btn btn-deep-orange waves-light">Sign up</button>
    </div>

</form>
<!--/Register form-->
        

<h4>sign up</h4>

<p>Signup for an account to save your color palettes.</p>

<label for="email">email</label>
<input type="text" name="email" placeholder="email">

<label for="password">password</label>
<input type="text" name="password" placeholder="password">

<input type="button" value="sign up">
<router-outlet></router-outlet>