@import '../../styles.scss';

.pageTitle {
	width: 100%;
	text-transform: uppercase;
	text-align:center;
	letter-spacing: .1em;
}
.body {
	height: 100%;
	width: 60%;
	min-width: 425px;
	margin: 100px auto;
	padding: 40px 100px;
	h2 {
	margin-top: 0;
	font-size: 2em;
	color: $grey900;
	font-weight: 200;
	letter-spacing: .05em;
	}
	p {
		margin: 25px auto 0 auto;
		font-size: 1.2em;
		font-weight: 400;
		letter-spacing: .05em;
		text-align: left;
	}
	.colorBar {
		margin: 25px 0 0 0;
	}
	.dismissable_button_group {
		width: 100%;
		height: 90px;
		margin: 25px auto;
		border: 2px solid $grey900;
		border-radius: 4px;
		.x_button {
			display: block;
			float: left;
			width: 15%;
			height: 100%;
			padding: 0;
			border-right: 2px solid $grey900;
			font-size: 3em;
			color: #fff;
			.x {
				text-align: center;
				width: 100%;
				margin: -10px auto;
				color: $grey900;
				font-size: 1.4em;
				font-weight: 200;
				-webkit-transform: scale(1.3, 1);
				-moz-transform: scale(1.3, 1);
				-ms-transform: scale(1.3, 1);
				-o-transform: scale(1.3, 1);
				transform: scale(1.3, 1);
			}
		}
		.attr_pair {
			display: inline-block;
			float: right;
			width: 85%;
		}
		.border_bottom {
			border-bottom: 2px solid $grey900;
		}
		button{
			display: block;
			width: 100%;
			height: 50%;
			padding: 7px;
			text-align: left;
			background: #fff;
			border: none;
			h4 {
				margin: 0;
				font-size: 1em;
				font-weight: 700;
				letter-spacing: .05em;
				color: $grey900;
				text-transform: uppercase;
			}
			h5 {
				font-size: 1.3em;
				font-style: italic;
				margin: 0;
			}
		}
	}
	.dismiss {
		color: $grey100;
		border: 2px solid #fff;
		button {
			background: $grey100;
			h4, h5 {
				color: $grey500;
			}
		}
		.border_bottom {
			border-bottom: 2px solid #fff;
		}
		.x_button {
			color: #fff;
			border-right: 2px solid #fff;
			.x {
				font-size: .3em;
				font-weight: 700;
				letter-spacing: .1em;
				text-transform: uppercase;
				-webkit-transform: scale(1, 1);
				-moz-transform: scale(1, 1);
				-ms-transform: scale(1, 1);
				-o-transform: scale(1, 1);
				transform: scale(1, 1);
			}
		}
	}
	.submit {
		margin: 0;
	}
}

