<router-outlet></router-outlet>

<div class="body">
	<!-- INTRODUCTION -->
	<div class="card"> 
		<h1>We believe people should make color choices based on personality attributes, rather than on subjectivity.</h1>
		<h3 class="sectionTitle">How is this app different?</h3>
		<p>Color selection is subject to taste or color theory, but there is no app on the market that bases color selection on the color psychology.</p>
		<h3 class="sectionTitle">What is this app for?</h3>
		<p>Using the Dewey Color System, we are created this app to proposes color palettes based on 32 different personality attributes. Conversely, we can identify personality traits to your existing color palette.</p>
	</div> <!-- end of intro card -->

	<!-- MADE BY -->
	<div class="card">
		<h3 class="sectionTitle">made by:</h3>

		<!-- CONNIE -->
		<div class="contributor">
			<img class="headShot" src="../assets/connie-kephart.jpg" alt="Photo of Connie Kephart">
			<h1 class="name">Connie Kephart</h1>

			<p><span class="bold">contributions:</span> SQL, Sequelize, PostgreSQL, JavaScript</p>
			
			<!-- profile links -->
			<h1><a href="https://github.com/SpindleMonkey" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
			<a href="https://www.linkedin.com/in/connie-kephart/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></h1>
		</div>

		<!-- TYLER -->
		<div class="contributor">
			<img class="headShot" src="../assets/tyler-clark.jpg" alt="Photo of Tyler Clark">
			<h1 class="name">Tyler Clark</h1>

			<p><span class="bold">contributions:</span> Express, Passport, Javascript, TypeSript, JSON </p>

			<!-- profile links -->
			<h1><a href="https://github.com/mtclark0518" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
			<a href="https://www.linkedin.com/in/mtclark518/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></h1>
		</div>

		<!-- JEFF -->
		<div class="contributor">
			<img class="headShot" src="../assets/jeffery-reynolds.jpg" alt="Photo of Jeff Reynolds">

			<h1 class="name">Jeff Reynolds</h1>

			<p><span class="bold">contributions:</span> Angular, HTML, CSS, JavaScript</p>

			<!-- profile links -->
			<h1><a href="https://github.com/jeffDevelops" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
			<a href="https://www.linkedin.com/in/jeff-develops/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></h1>
		</div>

		<!-- IAN -->
		<div class="contributor">
			<img class="headShot" src="../assets/ian-nordeck.jpg" alt="Photo of Ian T. Nordeck">

			<h1 class="name">Ian T. Nordeck</h1>

			<p><span class="bold">contributions:</span> Angular, HTML, CSS, Javascript</p>

			<!-- profile links -->
			<h1><a href="https://github.com/inordeck" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
			<a href="https://www.linkedin.com/in/iannordeck/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></h1>
		</div>
	</div> <!-- end of made by -->

</div> <!-- end of body class -->