<div class="body">
	<div class="card">
		<h1>We believe people should make color choices based on personality attributes, rather than on subjectivity.</h1>
		<h3 class="sectionTitle">How is this app different?</h3>
		<p>Color selection is subject to taste or color theory, but there is no app on the market that bases color selection on the color psychology.</p>
		<h3 class="sectionTitle">What is this app for?</h3>
		<p>Using the Dewey Color System, we are created this app to proposes color palettes based on 32 different personality attributes. Conversely, we can identify personality traits to your existing color palette.</p>
	</div> <!-- end of intro card -->
	<div class="card">
		<h3 class="sectionTitle">made by:</h3>
		<p>Connie Kephart <a href="https://github.com/SpindleMonkey" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></p>
		<p>Tyler Clark <a href="https://github.com/mtclark0518" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></p>
		<p>Jeff Reynolds <a href="https://github.com/jeffDevelops" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></p>
		<p>Ian T. Nordeck <a href="https://github.com/inordeck" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></p>
	</div>
</div> <!-- end of body class -->
