/* COLORS */

$limeGreen: #cddc39;
$green: #4caf50;
$teal: #009688;
$blue: #2196f3;
$indigo: #3f51b5;
$purple: #9c27b0;
$magenta: #e91e63;
$red: #f44336;
$red-orange: #ff5722;
$orange: #ff9800;
$gold: #ffd600;
$yellow: #ffeb3b;

/* NEUTRALS */

$brown: #795548;

/* GREYS */

$grey100: #f5f5f5;
$grey300: #e0e0e0;
$grey500: #9e9e9e;
$grey700: #616161;
$grey900: #212121;

html {
    height: 100%;
    background: #f5f5f5;
    background: -webkit-linear-gradient(to bottom, #f5f5f5, #9e9e9e);
    background: linear-gradient(to bottom, #f5f5f5, #9e9e9e); 
    background-attachment: fixed;
}

.card {
    margin-bottom: 25px;
	padding: 5%;
    background: #fff;
}

/* TYPOGRAPHY */
label {
	color: #9e9e9e;
}

blockquote {
    font-size: 3em;
    font-weight: 100;
    font-style: italic;
    color: $grey700;
}

figcaption {
    text-align: center; 
}

/* LINKS */
.inlineLink {
	font-weight: 700;
}
.setPalette {
	margin: 25px 0 0 0;
}
.btn {
	background: #2196f3;
}
